{% extends 'base.html.twig' %}

{% block title %}Index
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="card border-secondary mb-3 mt-5" style="max-width: 50rem;">
		{% for item in vehicules %}
		<div class="d-flex gap-4">
			<img src="{{ item.photo }}" alt="{{ item.marque }}" width="350px" height="280px">
			<div>
				<h3 class="card-header mb-3">{{ item.titre }}</h3>
				<h5 class="card-title mb-3">{{ item.description }}</h5>
				<h5 class="card-title mb-3">Prix journalier: {{ item.prixJournalier }} €</h5>
				<button class="btn btn-success">Réserver et payer</button>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
