{% extends 'base.html.twig' %}

{% block title %}Devis commande
{% endblock %}

{% block body %}

	<h1 class="text-center">{{ vehicule.titre }}</h1>
	<div class="container mx-auto">
		<div class="card border-secondary mb-3 mt-5 mx-auto" style="max-width: 50rem;">
			<div class="d-flex gap-1">
			<img src="{{ vehicule.photo }}" alt="photo" width="350px" height="280px">
			<div class="flex-column">
			<h5 class="card-title mb-3 p-2">{{ vehicule.description }}</h5>
			<h5 class="card-title mb-3 ms-2">Prix journalier:
				{{ vehicule.prixJournalier }}
				€</h5>
			</div>
		</div>
			<div>
				<div class="d-flex justify-content-between mx-5 align-center mb-5">
					<h3 class="">{{ vehicule.titre }}</h3>
					{# <a href="{{ path('devis', {'id': $id }) }}" class="btn btn-dark py-3">Réservation</a> #}
				  </div>
				
			</div>
		</div>
	</div>
</div>
{% if app.user %}

<div class="container">
	<div class="row col-4 mx-auto">
	{{ form_start(form ,{
    attr: {
    novalidate: 'novalidate'
    }}) }}
	{{ form_row(form.date_heure_depart) }}

	{{ form_row(form.date_heure_fin) }}
	<button type="submit" class="btn btn-dark mb-3">Enregistrer</button>

	{{ form_end(form) }}
	</div>

</div>
    
</div>
{% else %}
    <a href="{{ path('app_login')}}">connectez-vous</a> pour pouvoir commander
{% endif %}
{% endblock %}
